<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="contentMetadataSets_component" class="page">
  <app-toolbar [title]="'contentMetadataSets'" [busy]="isBusy()" [items]="toolbarItems"
               (action)="onToolbarAction($event)"></app-toolbar>

  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>
  <div class="search-container">
    <mat-form-field class="field-0">
      <input #queryInput matInput placeholder="{{ 'query' | translate }}" data-sem="query" />
      <button *ngIf="queryInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="onQueryClearClicked()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator [length]="totalElements" showFirstLastButtons
                   [style.background-color]="'transparent'"></mat-paginator>
  </div>
  <div class="scroll-wrapper">
    <div class="scroll" #mainScroll>
      <table mat-table [dataSource]="contentMetadataSets" class="items-container mat-elevation-z1" multiTemplateDataRows
             matSort matSortActive="name" matSortDirection="asc" matSortDisableClear
             data-sem="contentMetadataSets_container">
        <ng-container matColumnDef="contentMetadataSet">
          <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
          <td mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            <div class="cell-multiline">
              <h4 class="block-sub wrap">
                <span class="field-0" data-sem="name">{{ e.name }}</span>
                <span class="field" data-sem="version">{{ e.version }}</span>
              </h4>
              <div class="block wrap">
                <div class="field">
                  <span data-sem="repositoryPath">{{ e.repositoryPath }}</span>
                </div>
              </div>
              <mat-chip-listbox>
                <mat-chip data-sem="category">{{ e.category }}</mat-chip>
                <mat-chip data-sem="staging" *ngIf="e.staging" color="primary">{{ 'staging' | translate }}</mat-chip>
              </mat-chip-listbox>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'id' | translate }}
          </th>
          <td data-sem="id" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="column-select">
            <mat-checkbox data-sem="select_all_do"
                          (change)="$event ? onSelectAllChanged() : null"
                          [checked]="selection.hasValue() && isSelectAll()"
                          [indeterminate]="selection.hasValue() && !isSelectAll()">
            </mat-checkbox>
          </th>
          <td data-sem="select" mat-cell *matCellDef="let e">
            <mat-checkbox data-sem="select_do"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(e) : null"
                          [checked]="selection.isSelected(e)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="repositoryPath">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="repositoryPath_sort">
            {{ 'repositoryPath' | translate }}
          </th>
          <td data-sem="repositoryPath" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.repositoryPath }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="name_sort">
            {{ 'name' | translate }}
          </th>
          <td data-sem="name" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="version_sort">
            {{ 'version' | translate }}
          </th>
          <td data-sem="version" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.version }}
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="category_sort">
            {{ 'category' | translate }}
          </th>
          <td data-sem="category" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.category }}
          </td>
        </ng-container>
        <ng-container matColumnDef="staging">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="staging_sort" class="column-actions">
            {{ 'staging' | translate }}
          </th>
          <td data-sem="staging" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            <mat-checkbox disableRipple="true" disabled="true" [checked]="e.staging"></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-sem="contentMetadataSet_container"
            [attr.data-semq]="row.id"></tr>
      </table>
    </div>
  </div>
</div>
