<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 - 2023 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<mat-grid-list [cols]="columns" gutterSize="10px" rowHeight="3:2">
  <mat-grid-tile *ngFor="let image of images">
    <img class="gallery-small-image"
         [src]="image.src"
         [alt]="image.alt"
         (click)="onImageClicked(image.position)">
  </mat-grid-tile>
</mat-grid-list>
