<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div class="page" data-sem="search_component">
  <app-toolbar (action)="onToolbarAction($event)" [busy]="busy" [items]="toolbarItems"
               [title]="'search'"></app-toolbar>
  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>

  <div class="search-container">
    <mat-form-field class="field-0">
      <input #queryInput matInput placeholder="{{ 'query' | translate }}" data-sem="query" />
      <button *ngIf="queryInput.value" aria-label="Clear" mat-icon-button matSuffix (click)="onQueryClearClicked()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator [length]="totalElements" [style.background-color]="'transparent'"
                   showFirstLastButtons></mat-paginator>
  </div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <div class="scroll-wrapper">
        <div class="scroll">
          <mat-expansion-panel *ngFor="let facet of facets"
                               (closed)="onFacetClosed(facet)" (opened)="onFacetOpened(facet)"
                               [expanded]="isFacetUsed(facet)" class="facets">
            <mat-expansion-panel-header matTooltipClass="multiline">
              <mat-panel-title>
                <div>{{ facet.field | translate }}</div>
                <div class="facet-count">[{{ getFacetSelectedSummary(facet) }}]</div>
              </mat-panel-title>
              <mat-panel-description class="facet-description">
                <button (click)="onFacetSelectionClear($event, facet)" *ngIf="getFacetSelectedCount(facet) > 0"
                        mat-stroked-button color="accent" data-sem="clearFacetSelection_do"
                        [attr.data-semq]="facet.field">
                  {{ 'clear' | translate }}
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="block">
              <mat-form-field *ngIf="getFacetItemHiddenCount(facet) > 0">
                <input [(ngModel)]="facetQueryFilter[facet.field]" matInput placeholder="{{ 'filter' | translate }}"
                       data-sem="facetQueryFilter" [attr.data-semq]="facet.field" />
                <button (click)="onFacetQueryClearClicked(facet)" *ngIf="getFacetQueryFilterValue(facet)"
                        aria-label="Clear" mat-icon-button matSuffix>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-selection-list dense>
                <ng-container *ngFor="let facetValue of getFacetValuesBySelected(facet)">
                  <ng-container [ngTemplateOutletContext]="{facet:facet,facetValue:facetValue,selected:true}"
                                [ngTemplateOutlet]="facetValueTemplate"></ng-container>
                </ng-container>
                <mat-divider *ngIf="getFacetSelectedCount(facet) > 0"></mat-divider>
                <ng-container *ngFor="let facetValue of getFacetValuesByNotSelected(facet)">
                  <ng-container [ngTemplateOutletContext]="{facet:facet,facetValue:facetValue,selected:false}"
                                [ngTemplateOutlet]="facetValueTemplate"></ng-container>
                </ng-container>

                <ng-template #facetValueTemplate let-facet="facet" let-facetValue="facetValue"
                             let-selected="selected">
                  <mat-list-option
                    class="facet-item"
                    (click)="onFacetSelection(facet.field, facetValue.value)"
                    [selected]="selected"
                    [value]="facetValue.value"
                    checkboxPosition="before">
                    <p class="facet-value" mat-line>
                                <span *ngIf="getFacetValueTranslatePrefix(facet)"
                                      matTooltip="{{ getFacetValueTranslatePrefix(facet) + facetValue.value | translate }}">{{ getFacetValueTranslatePrefix(facet) + facetValue.value | translate }}</span>
                      <span *ngIf="!getFacetValueTranslatePrefix(facet)"
                            matTooltip="{{ facetValue.value }}">{{ facetValue.value }}</span>
                      <b class="facet-count">[{{ facetValue.count }}]</b>
                    </p>
                  </mat-list-option>
                </ng-template>
              </mat-selection-list>

              <ng-template #dialogFacetTemplateVirtual let-facet>
                <mat-dialog-content>
                  <mat-selection-list dense>
                    <cdk-virtual-scroll-viewport
                      [ngStyle]="{height: 42 * (facet.values.length <= 15 ? facet.values.length : 15) + 'px', width: '400px'}"
                      itemSize="30">
                      <!-- templateCacheSize = 0 to keep state -->
                      <ng-container *cdkVirtualFor="let facetValue of getFacetValues(facet); templateCacheSize: 0">
                        <ng-container
                          [ngTemplateOutletContext]="{facet:facet,facetValue:facetValue,selected:isFacetSelected(facet, facetValue.value)}"
                          [ngTemplateOutlet]="facetValueTemplate"></ng-container>
                      </ng-container>
                    </cdk-virtual-scroll-viewport>
                  </mat-selection-list>
                </mat-dialog-content>
                <mat-dialog-actions>
                  <button mat-button [mat-dialog-close]="true" data-sem="facetSelectAccept_do">
                    {{ 'ok' | translate }}
                  </button>
                </mat-dialog-actions>
              </ng-template>
              <button (click)="onFacetShowMore(facet, dialogFacetTemplateVirtual)"
                      *ngIf="getFacetItemHiddenCount(facet) > 0 && !getFacetQueryFilterValue(facet)" mat-button
                      class="showMore">
                {{ 'showMore' | translate:{ 'count': getFacetItemHiddenCount(facet) } }}
              </button>
              <!-- Static variant -->
              <!--                    <ng-template #dialogFacetTemplateStatic let-facet>-->
              <!--                        <mat-dialog-content>-->
              <!--                            <mat-selection-list dense>-->
              <!--                                <ng-container *ngFor="let facetValue of getFacetValues(facet)">-->
              <!--                                    <ng-container [ngTemplateOutletContext]="{facet:facet,facetValue:facetValue,selected:isFacetSelected(facet, facetValue.value)}"-->
              <!--                                                  [ngTemplateOutlet]="facetValueTemplate"></ng-container>-->
              <!--                                </ng-container>-->
              <!--                            </mat-selection-list>-->
              <!--                        </mat-dialog-content>-->
              <!--                        <mat-dialog-actions>-->
              <!--                            <button mat-button [mat-dialog-close]="true" data-sem="facetSelectAccept_do">-->
              <!--                                {{ 'ok' | translate }}-->
              <!--                            </button>-->
              <!--                        </mat-dialog-actions>-->
              <!--                    </ng-template>-->
              <!--                    <button (click)="onFacetShowMore(facet, dialogFacetTemplateStatic)" *ngIf="getFacetItemHiddenCount(facet) > 0" mat-button class="showMore">-->
              <!--                        {{ 'showMore' | translate:{'count': getFacetItemHiddenCount(facet)} }}-->
              <!--                    </button>-->
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100%">
      <div class="scroll-wrapper">
        <div class="scroll" #mainScroll>
          <table [dataSource]="queryResults" class="mat-elevation-z1 items-container" data-sem="queryResults_container"
                 mat-table multiTemplateDataRows>
            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell>{{ 'id' | translate }}</th>
              <td (click)="onCellClicked(e, $event)" *matCellDef="let e" data-sem="id" mat-cell>
                {{ e.id }}
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th *matHeaderCellDef mat-header-cell>
                {{ 'type' | translate }}
              </th>
              <td (click)="onCellClicked(e, $event)" *matCellDef="let e" data-sem="type" mat-cell>
                {{ e.type }}
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th *matHeaderCellDef mat-header-cell>
                {{ 'description' | translate }}
              </th>
              <td (click)="onCellClicked(e, $event)" *matCellDef="let e" data-sem="description" mat-cell>
                <div *ngIf="e.contentMetadataSummary" class="content-metadata-summary">
                  <div class="content-metadata-summary-data">
                    <h4 class="block-sub wrap">
                      <span data-sem="title">{{ e.contentMetadataSummary.title }}</span>
                      <span data-sem="system">{{ e.contentMetadataSummary.system }}</span>
                    </h4>
                    <div class="block wrap">
                      <div *ngIf="e.contentMetadataSummary.publisher" class="field">
                        <span data-sem="publisher">{{ e.contentMetadataSummary.publisher }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.date" class="field">
                        (<span data-sem="date">{{ e.contentMetadataSummary.date }}</span>)
                      </div>
                      <div *ngIf="e.contentMetadataSummary.region" class="field">
                        (<span data-sem="region">{{ e.contentMetadataSummary.region }}</span>)
                      </div>
                      <div *ngIf="e.contentMetadataSummary.language" class="field">
                        (<span data-sem="language">{{ e.contentMetadataSummary.language }}</span>)
                      </div>
                      <div *ngIf="e.contentMetadataSummary.mediaType" class="field">
                        <span data-sem="mediaType">
                          {{ 'mediaType.' + e.contentMetadataSummary.mediaType | translate }}
                        </span>
                        <span data-sem="mediaOrder">{{ e.contentMetadataSummary.mediaOrder }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.description" class="field">
                        <span data-sem="description">{{ e.contentMetadataSummary.description }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.alternate" class="field">
                        |
                        <span data-sem="alternate">{{ 'alternate' | translate }} </span>
                        <span data-sem="alternateData">{{ e.contentMetadataSummary.alternateData }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.cracked" class="field">
                        |
                        <span data-sem="cracked">{{ 'cracked' | translate }} </span>
                        <span data-sem="crackedData">{{ e.contentMetadataSummary.crackedData }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.modified" class="field">
                        |
                        <span data-sem="modified">{{ 'modified' | translate }} </span>
                        <span data-sem="modifiedData">{{ e.contentMetadataSummary.modifiedData }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.hacked" class="field">
                        |
                        <span data-sem="hacked">{{ 'hacked' | translate }} </span>
                        <span data-sem="hackedData">{{ e.contentMetadataSummary.hackedData }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.translated" class="field">
                        |
                        <span data-sem="translated">{{ 'translated' | translate }} </span>
                        <span data-sem="translatedData">{{ e.contentMetadataSummary.translatedData }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.badDump" class="field">
                        |
                        <span data-sem="badDump">{{ 'badDump' | translate }} </span>
                        <span data-sem="badDumpData">{{ e.contentMetadataSummary.badDumpData }}</span>
                      </div>
                      <div *ngIf="e.contentMetadataSummary.tagsExtra" class="field">
                        |
                        <span data-sem="tagsExtra">{{ e.contentMetadataSummary.tagsExtra }}</span>
                      </div>
                    </div>
                    <div class="block-sub-actions">
                      <mat-chip-set>
                        <mat-chip data-sem="source"
                                  *ngIf="e.contentMetadataSummary.source">{{ e.contentMetadataSummary.source }}</mat-chip>
                        <mat-chip *ngIf="e.contentMetadataSummary.staging" color="warn">
                          {{ 'staging' | translate }}
                        </mat-chip>
                      </mat-chip-set>
                      <button mat-icon-button data-sem="play_do" (click)="onPlayClicked(e, $event)" [disabled]="!isPlayable(e)">
                        <mat-icon>play_circle_filled</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="image-wrapper">
                    <img [src]="getImageUrl(e)" class="content-metadata-set-image" alt="" />
                  </div>
                </div>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" [attr.data-semq]="row.id"
                data-sem="queryResult_container"
                mat-row></tr>
          </table>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
