@import '../../../../styles/theme.scss';

.content-metadata-summary {
  //height: 8em;
  display: flex;
  //line-height: 0;

  .content-metadata-summary-data {
    display: flex;
    flex-direction: column;
    flex: 6 1 0;
  }

  .image-wrapper {
    height: 8em;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: flex-end;

    img {
      max-width: 100%;
      max-height: 100%;
      height: inherit !important;
    }
  }

}
