<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 - 2023 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div class="container" data-sem="gallery_component">
  <mat-dialog-content (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
    <div class="content-main">
      <button [disabled]="!isFirstEnabled()" mat-icon-button (click)="onPrevClicked()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <img [src]="image.src" [alt]="image.alt" />
      <button [disabled]="!isLastEnabled()" mat-icon-button (click)="onNextClicked()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </mat-dialog-content>
</div>
