.container {
  display: flex;
  height: 100%;

  .content-main {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;

    img {
      height: 100%;
    }

    button {
      border: none;
      border-radius: 0;
      background-color: transparent;
    }
  }

  .mat-mdc-dialog-content {
    max-height: 100% !important;
    padding: 4px;
  }
}



