<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="deleteConfirm_component">
  <h2 mat-dialog-title>{{ 'confirmDeleteTitle' | translate }}</h2>
  <mat-dialog-content>{{ 'confirmDeleteMessage' | translate:{ 'count': this.count } }}</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close data-sem="deleteConfirmCancel_do">
      {{ 'no' | translate }}
    </button>
    <button mat-button [mat-dialog-close]="true" data-sem="deleteConfirmAccept_do">
      {{ 'yes' | translate }}
    </button>
  </mat-dialog-actions>
</div>
