<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="contentVolumeDirectories_component" class="page">
  <app-toolbar [title]="contentVolume?.name" [busy]="isBusy()" [items]="toolbarItems" (action)="onToolbarAction($event)"></app-toolbar>

  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>
  <div class="scroll-wrapper-nosearch">
    <div class="scroll" #mainScroll>
      <table mat-table [dataSource]="contentVolumeDirectories" class="items-container mat-elevation-z1" data-sem="contentVolumeDirectories_container">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="column-select">
            <mat-checkbox data-sem="select_all_do"
                          (change)="$event ? onSelectAllChanged() : null"
                          [checked]="selection.hasValue() && isSelectAll()"
                          [indeterminate]="selection.hasValue() && !isSelectAll()">
            </mat-checkbox>
          </th>
          <td data-sem="select" mat-cell *matCellDef="let e">
            <mat-checkbox data-sem="select_do"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(e) : null"
                          [checked]="selection.isSelected(e)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="path">
          <th mat-header-cell *matHeaderCellDef>{{ 'path' | translate }}</th>
          <td data-sem="path" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.path }}
          </td>
        </ng-container>
        <ng-container matColumnDef="modifiedTime">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'modifiedTime' | translate }}
          </th>
          <td data-sem="modifiedTime" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.modifiedTime }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fresh">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'fresh' | translate }}
          </th>
          <td data-sem="fresh" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            <mat-checkbox disableRipple="true" disabled="true" [checked]="e.fresh"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="contentMetadataSetName">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'contentMetadataSet' | translate }}
          </th>
          <td data-sem="fresh" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.contentMetadataSet?.name }} {{ e.contentMetadataSet?.version }} {{ e.contentMetadataSet?.category }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="contentVolumeDirectoriesDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: contentVolumeDirectoriesDisplayedColumns" data-sem="contentVolumeDirectory_container" [attr.data-semq]="row.path"></tr>
      </table>
    </div>
  </div>
</div>
