<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="login_component">
  <h2 mat-dialog-title>{{ 'loginTitle' | translate }}</h2>
  <mat-dialog-content>
    <form [formGroup]="loginForm" #form="ngForm" (ngSubmit)="onFormSubmitted()" autocomplete="on" class="block">
      <input type="submit" style="display: none" #formSubmit />
      <mat-form-field>
        <mat-label>{{ 'username' | translate }}</mat-label>
        <input matInput name="username" type="text" formControlName="username" autocomplete="username"
               data-sem="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ 'password' | translate }}</mat-label>
        <input matInput name="password" type="password" formControlName="password" autocomplete="current-password"
               data-sem="password" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button data-sem="loginAccept_do" (click)="onOkClicked()">
      {{ 'ok' | translate }}
    </button>
  </mat-dialog-actions>
</div>
