<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button class="toolbar-icon" matTooltip="{{ 'back' | translate }}" [attr.data-sem]="'navClose_do'" (click)="onNavCloseClicked()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="toolbar-title">{{ 'app' | translate }}</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/" style="height: 0"></a>

      <a *ngFor="let item of getItemsHome()" mat-list-item [class.disabled]="item.disabled" [attr.data-sem]="item.semantic" (click)="onItemClicked(item)">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span class="app-nav-list-label" *ngIf="item.label">{{ item.label | translate }}</span>
      </a>

      <mat-divider></mat-divider>
      <a *ngFor="let item of getItemsData()" mat-list-item [class.disabled]="item.disabled" [attr.data-sem]="item.semantic" (click)="onItemClicked(item)">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span class="app-nav-list-label" *ngIf="item.label">{{ item.label | translate }}</span>
      </a>

      <mat-divider></mat-divider>
      <a *ngFor="let item of getItemsConfig()" mat-list-item [class.disabled]="item.disabled" [attr.data-sem]="item.semantic" (click)="onItemClicked(item)">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span class="app-nav-list-label" *ngIf="item.label">{{ item.label | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: hidden">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
