@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$theme-primary: mat.define-palette(mat.$deep-orange-palette);
$theme-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);
$theme-info: mat.define-palette(mat.$blue-palette, 400);

$theme: mat.define-light-theme((
        color: (
                primary: $theme-primary,
                accent: $theme-accent,
                warn: $theme-warn
        ),
        typography: mat.define-typography-config(),
));

@include mat.all-component-themes($theme);

$color-config: mat.get-color-config($theme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');
$warn-palette: map.get($color-config, 'warn');
$is-dark-theme: map.get($color-config, 'is-dark');

/**
 Self host for older IE browsers
$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';
*/

$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';
$mat-gt-xs: 'min-width: 600px';
$mat-lt-sm: 'max-width: 599px';
$mat-lt-md: 'max-width: 959px';
$mat-lt-lg: 'max-width: 1279px';

$matmq-xs: screen and
  (
    max-width: 599px,
  );
$matmq-sm: screen and
  (
    min-width: 600px,
  )
  and
  (
    max-width: 959px,
  );
$matmq-md: screen and
  (
    min-width: 960px,
  )
  and
  (
    max-width: 1279px,
  );
$matmq-lg: screen and
  (
    min-width: 1280px,
  )
  and
  (
    max-width: 1919px,
  );
$matmq-xl: screen and
  (
    min-width: 1920px,
  )
  and
  (
    max-width: 5000px,
  );
$matmq-lt-sm: screen and
  (
    max-width: 599px,
  );
$matmq-lt-md: screen and
  (
    max-width: 959px,
  );
$matmq-lt-lg: screen and
  (
    max-width: 1279px,
  );
$matmq-lt-xl: screen and
  (
    max-width: 1919px,
  );
$matmq-gt-xs: screen and
  (
    min-width: 600px,
  );
$matmq-gt-sm: screen and
  (
    min-width: 960px,
  );
$matmq-gt-md: screen and
  (
    min-width: 1280px,
  );
$matmq-gt-xl: screen and
  (
    min-width: 1920px,
  );

$sidenav-width: 320px;

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-default {
  //gap: 0 4px;
  gap: 4px;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.page {
  height: 100%;

  @media ($mat-lt-lg) {
    .mat-mdc-paginator-page-size-label {
      display: none;
    }

    .mat-mdc-paginator-range-label {
      display: none;
    }
  }

  @media ($mat-lt-sm) {
    .mat-mdc-paginator-navigation-first {
      display: none;
    }
    .mat-mdc-paginator-navigation-last {
      display: none;
    }
    .mat-mdc-paginator-page-size {
      display: none;
    }
  }
}

.scroll-wrapper {
  position: relative;
  height: calc(100% - 134px);
}

.scroll-wrapper-nosearch {
  position: relative;
  height: calc(100% - 64px);
}

.scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.mat-sidenav {
  width: $sidenav-width;
}

.mat-sidenav-container {
  height: 100%;
}

.mat-mdc-subheader {
  font-size: 18px;
  font-weight: 900;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.timePickerContainer {
  position: relative;
  max-width: 100px;
  width: 100%;
  display: inline-flex;
  /*padding: 5px;
   height: 36px; */
  margin: 10px;
  border-bottom: 1px solid #949494;

  input {
    width: 100%;
    /* height: 100%; */
    border: 0;
    font-size: 16px;
  }
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.alert {
  color: white;
  text-align: center;
  position: relative;
  padding: 10px;
}

.alert-info {
  background-color: mat.get-color-from-palette($theme-info);
}

.alert-icon {
  position: absolute;
  left: 14px;
  top: 7px;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.block {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  @extend .gap-default;

  &.top {
    padding-top: 8px;
  }

  &.wrap {
    flex-flow: row wrap;
  }

  & > .block-sub {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.block-sub {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  @extend .gap-default;

  place-content: center center;
  align-items: center;
  //align-items: flex-start;

  &.fix {
    flex: 0 0 0;
  }

  &.wrap {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &.responsive {
    @media ($mat-lt-lg) {
      flex-direction: column;
      place-content: stretch flex-start;
      align-items: stretch;
    }
  }
}

.block-sub-actions {
  display: flex;
  align-self: auto;
  align-items: center;
  justify-content: space-between;
}

.block-0 {
  display: flex;
  flex: 0 0 0;
}

.field {
  display: flex;
  flex: initial;
  gap: inherit;

  .label {
    display: flex;
    flex: auto;
  }
}

.field-0 {
  @extend .field;
  flex: 1 1 0;
}

.field-20 {
  @extend .field;
  flex: 1 1 20%;
}

.field-40 {
  @extend .field;
  flex: 1 1 40%;
}

.field-60 {
  @extend .field;
  flex: 1 1 60%;
}

.field-80 {
  @extend .field;
  flex: 1 1 80%;
}

.field-100 {
  @extend .field;
  flex: 1 1 100%;
}
/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.column-actions {
  width: 0;
}

.column-select {
  width: 0;
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.search-container {
  display: flex;
  flex-direction: row;
  place-content: center space-between;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.items-container {
  width: 100%;

  @media ($mat-lt-lg) {
    tr.mat-mdc-header-row {
      display: none;
    }
  }

  // Not used at the moment
  //.expanded-detail-row-content {
  //  overflow: hidden;
  //  display: flex;
  //}
  //
  //.expanded-detail-row {
  //  height: 0;
  //}
  //
  //.expandable-row td {
  //  border-bottom-width: 0;
  //}

  .cell-multiline {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    @extend .gap-default;

    @extend .responsive;

    margin-bottom: 8px;

    .label {
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold;
    }
  }

  .actions-container {
    text-align: right;
  }
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */

app-search-page {
  tr.mat-mdc-header-row {
    display: none;
  }

  .multiline {
    white-space: pre-line;
  }

  .showMore {
    color: mat.get-color-from-palette($theme-primary);
  }

  .staging {
    color: mat.get-color-from-palette($theme-accent);
    font-weight: bold;
  }

  .facets {
    .mat-expansion-panel-body {
      padding: 0;
    }

    .mat-line {
      width: 229px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .facet-count {
    color: mat.get-color-from-palette($theme-primary);
    font-weight: bold;
    margin-left: 4px;
  }

  .facet-description {
    place-content: stretch flex-end;
  }

  /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.
  Check if this still works..
  :host ::ng-deep .cdk-virtual-scroll-content-wrapper {
    width: 128px;
    display: flex;
    flex-direction: column;
  }

  :host ::ng-deep .mat-list-item-content {
    padding: 0 !important;
  }
*/
}

/**  - - - - - - - - - - - - - - - - - - - - - - - - - - - */
app-nav {
  .app-nav-list-icon {
    margin: 0 12px 0 12px;
  }

  .app-nav-list-label {
    margin: 0 16px 0 16px;
  }

  a.disabled {
    pointer-events: none;
    cursor: default;
  }
}
