@import '../../../../styles/theme.scss';

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  /*TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.
 */
  mat-progress-bar {
    position: absolute;
  }

  .title-container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center flex-start;
    white-space: nowrap;
    overflow: hidden;

    @media ($mat-lt-lg) {
      flex-direction: column;
      place-content: flex-start;
      align-items: flex-start;
    }

    .title {
      padding-right: 8px;
      @media ($mat-lt-lg) {
        font-size: smaller;
        padding-right: 0;
      }
    }
    .subtitle {
      @media ($mat-lt-lg) {
        font-size: x-small;
      }
    }
  }

  //.spacer {
  //  flex: 1 1 auto;
  //}
}
