<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="busy" data-sem="progressBar"></mat-progress-bar>
  <mat-toolbar-row>
    <button *ngFor="let item of getItemsByLeft()" mat-icon-button class="toolbar-icon" [disabled]="item.disabled"
            matTooltip="{{ item.label | translate }}" [attr.data-sem]="item.semantic" (click)="onItemClicked(item)">
      <mat-icon>{{ item.icon }}</mat-icon>
    </button>
    <h2 class="title-container">
      <span class="title">{{ title | translate }}</span>
      <span class="subtitle">{{ titleSub }}</span>
    </h2>

    <span class="spacer"></span>

    <button *ngFor="let item of getItemsByRight()" mat-icon-button class="toolbar-icon" [disabled]="item.disabled"
            matTooltip="{{ item.label | translate }}" [attr.data-sem]="item.semantic" (click)="onItemClicked(item)">
      <mat-icon>{{ item.icon }}</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="dropdownMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #dropdownMenu>
  <button *ngFor="let item of getItemsByMenu()" mat-menu-item [disabled]="item.disabled" [attr.data-sem]="item.semantic"
          (click)="onItemClicked(item)">
    <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
    <span *ngIf="item.label">{{ item.label | translate }}</span>
  </button>
</mat-menu>
