<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="contents_component" class="page">
  <app-toolbar [busy]="isBusy()" [items]="toolbarItems" [title]="directoryPath + '/'"
               (action)="onToolbarAction($event)"></app-toolbar>
  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>
  <div class="search-container">
    <mat-form-field class="field-0" subscriptSizing="dynamic">
      <input #queryInput matInput placeholder="{{ 'query' | translate }}" data-sem="query" />
      <button *ngIf="queryInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="onQueryClearClicked()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator [length]="totalElements" showFirstLastButtons
                   [style.background-color]="'transparent'"></mat-paginator>
  </div>
  <div class="scroll-wrapper">
    <div class="scroll" #mainScroll>
      <table mat-table [dataSource]="contents" class="items-container mat-elevation-z1" multiTemplateDataRows matSort
             data-sem="contents_container">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'id' | translate }}
          </th>
          <td data-sem="id" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="column-select">
            <mat-checkbox data-sem="select_all_do"
                          (change)="$event ? onSelectAllChanged() : null"
                          [checked]="selection.hasValue() && isSelectAll()"
                          [indeterminate]="selection.hasValue() && !isSelectAll()">
            </mat-checkbox>
          </th>
          <td data-sem="select" mat-cell *matCellDef="let e">
            <mat-checkbox data-sem="select_do"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(e) : null"
                          [checked]="selection.isSelected(e)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="directoryPath">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'directoryPath' | translate }}
          </th>
          <td data-sem="directoryPath" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.directoryPath }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'fileName' | translate }}
          </th>
          <td data-sem="fileName" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.fileName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fileEntry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'fileEntry' | translate }}
          </th>
          <td data-sem="fileEntry" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.fileEntry }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fileSize">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'fileSize' | translate }}
          </th>
          <td data-sem="fileSize" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.fileSize }}
          </td>
        </ng-container>
        <ng-container matColumnDef="modifiedTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'modifiedTime' | translate }}
          </th>
          <td data-sem="modifiedTime" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.modifiedTime }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-sem="content_container"
            [attr.data-semq]="row.id"></tr>
      </table>
    </div>
  </div>
</div>
