<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="content_component" class="page">
  <app-toolbar [title]="content?.directoryPath + '/' + content?.fileName" [busy]="isBusy()" [items]="toolbarItems"
               (action)="onToolbarAction($event)"></app-toolbar>

  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>
  <div class="scroll-wrapper">
    <div class="scroll">
      <div *ngIf="content">
        <form [formGroup]="contentForm" #form="ngForm" (ngSubmit)="onFormSubmitted()" autocomplete="on"
              class="block top">
          <input type="submit" style="display: none" #formSubmit />

          <div class="block-sub responsive">
            <mat-form-field class="field-0">
              <mat-label>{{ 'directoryPath' | translate }}</mat-label>
              <input matInput name="directoryPath" type="text" formControlName="directoryPath"
                     data-sem="directoryPath" />
            </mat-form-field>
            <mat-form-field class="field-0">
              <mat-label>{{ 'fileName' | translate }}</mat-label>
              <input matInput name="fileName" type="text" formControlName="fileName" data-sem="fileName" />
            </mat-form-field>
            <mat-form-field class="field-0">
              <mat-label>{{ 'fileEntry' | translate }}</mat-label>
              <input matInput name="fileEntry" type="text" formControlName="fileEntry" data-sem="fileEntry" />
            </mat-form-field>
          </div>
          <div class="block-sub responsive">
            <mat-form-field class="field-0">
              <mat-label>{{ 'md5' | translate }}</mat-label>
              <input matInput name="md5" type="text" formControlName="md5" data-sem="md5" />
            </mat-form-field>
            <mat-form-field class="field-0">
              <mat-label>{{ 'sha1' | translate }}</mat-label>
              <input matInput name="sha1" type="text" formControlName="sha1" data-sem="sha1" />
            </mat-form-field>
            <mat-form-field class="field-0">
              <mat-label>{{ 'crc' | translate }}</mat-label>
              <input matInput name="crc" type="text" formControlName="crc" data-sem="crc" />
            </mat-form-field>
            <mat-form-field class="field-0">
              <mat-label>{{ 'size' | translate }}</mat-label>
              <input matInput name="size" type="text" formControlName="size" data-sem="size" />
            </mat-form-field>
          </div>
          <div class="block-sub responsive">
            <mat-form-field class="field-0">
              <mat-label>{{ 'modifiedTime' | translate }}</mat-label>
              <input matInput name="modifiedTime" type="text" formControlName="modifiedTime" data-sem="modifiedTime" />
            </mat-form-field>
            <mat-form-field class="field-0">
              <mat-label>{{ 'enrichTime' | translate }}</mat-label>
              <input matInput name="enrichTime" type="text" formControlName="enrichTime" data-sem="enrichTime" />
            </mat-form-field>
            <mat-form-field class="field-0">
              <mat-label>{{ 'checkTime' | translate }}</mat-label>
              <input matInput name="checkTime" type="text" formControlName="checkTime" data-sem="checkTime" />
            </mat-form-field>
          </div>
        </form>
      </div>
      <table mat-table [dataSource]="contentMetadataItemSummaries" class="items-container mat-elevation-z1"
             data-sem="contentMetadataItemSummaries_container">
        <ng-container matColumnDef="contentMetadataItemSummary">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'contentMetadataItem' | translate }}
          </th>
          <td data-sem="contentMetadata" mat-cell *matCellDef="let e">
            <div class="cell-multiline">
              <h4 class="block-sub">
                <span class="field-80" data-sem="title">{{ e.title }}</span>
                <span class="field-20" data-sem="system">{{ e.system }}</span>
              </h4>
              <div class="block wrap">
                <div *ngIf="e.publisher" class="field">
                  <span data-sem="publisher">{{ e.publisher }}</span>
                </div>
                <div *ngIf="e.date" class="field">
                  (<span data-sem="date">{{ e.date }}</span>)
                </div>
                <div *ngIf="e.region" class="field">
                  (<span data-sem="region">{{ e.region }}</span>)
                </div>
                <div *ngIf="e.language" class="field">
                  (<span data-sem="language">{{ e.language }}</span>)
                </div>
                <div *ngIf="e.mediaType" class="field">
                  <span data-sem="mediaType">{{ 'mediaType.' + e.mediaType | translate }}</span>
                  <span data-sem="mediaOrder">{{ e.mediaOrder }}</span>
                </div>
                <div *ngIf="e.description" class="field">
                  <span data-sem="description">{{ e.description }}</span>
                </div>
                <div data-sem="source" class="field">{{ e.source }}</div>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="actions-container" mat-cell *matCellDef="let e">
            <button mat-icon-button data-sem="play_do" (click)="onPlayClicked(e)" *ngIf="e.contentId">
              <mat-icon>play_circle_filled</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-sem="contentMetadataItemSummary_container"
            [attr.data-semq]="row.id"></tr>
      </table>
    </div>
  </div>
  <!--    <div class="fab-container">-->
  <!--        <button mat-fab class="fab-toggler" (click)="onExecuteClicked()" data-sem="contentExecuteDisplay_do">-->
  <!--            <i class="material-icons">play_circle_filled</i>-->
  <!--        </button>-->
  <!--    </div>-->
</div>
