<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="contentMetadata_component" [attr.data-semq]="contentMetadata?.id" class="page">
  <app-toolbar [title]="getTitle()" [busy]="busy" [titleSub]="getTitleSub()" [items]="toolbarItems"
               (action)="onToolbarAction($event)"></app-toolbar>
  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>

  <div class="scroll-wrapper-nosearch">
    <div class="scroll">
      <mat-tab-group>
        <mat-tab label="Details" data-sem="contentMetadataDetailsDisplay_do">
          <form [formGroup]="contentMetadataForm" #form="ngForm" (ngSubmit)="onFormSubmitted()"
                class="block top" autocomplete="on" data-sem="contentMetadataDetails_container">
            <input type="submit" style="display: none" #formSubmit />
            <div *ngIf="contentMetadata" class="block">
              <div class="block-sub responsive">
                <mat-form-field class="field-40">
                  <mat-label>{{ 'title' | translate }}</mat-label>
                  <input matInput name="title" type="text" formControlName="title" data-sem="title" />
                </mat-form-field>
                <mat-form-field class="field-40">
                  <mat-label>{{ 'publisher' | translate }}</mat-label>
                  <input matInput name="publisher" type="text" formControlName="publisher" data-sem="publisher" />
                </mat-form-field>
                <mat-form-field class="field-20">
                  <mat-label>{{ 'system' | translate }}</mat-label>
                  <input matInput name="system" type="text" formControlName="system" data-sem="system" />
                </mat-form-field>
              </div>
              <div class="block-sub">
                <mat-form-field class="field-0">
                  <mat-label>{{ 'date' | translate }}</mat-label>
                  <input matInput name="date" type="text" formControlName="date" data-sem="date" />
                </mat-form-field>
                <mat-form-field class="field-0">
                  <mat-label>{{ 'source' | translate }}</mat-label>
                  <input matInput name="source" type="text" formControlName="source" data-sem="source" />
                </mat-form-field>
              </div>
              <div class="block-sub responsive">
                <div class="block-sub">
                  <mat-form-field class="field-0">
                    <mat-label>{{ 'region' | translate }}</mat-label>
                    <input matInput name="region" type="text" formControlName="region" data-sem="region" />
                  </mat-form-field>
                  <mat-form-field class="field-0">
                    <mat-label>{{ 'language' | translate }}</mat-label>
                    <input matInput name="language" type="text" formControlName="language" data-sem="language" />
                  </mat-form-field>
                </div>
                <div class="block-sub">
                  <mat-form-field class="field-0">
                    <mat-label>{{ 'mediaType' | translate }}</mat-label>
                    <mat-select data-sem="mediaType" name="mediaType" formControlName="mediaType">
                      <mat-option *ngFor="let mediaType of mediaTypes" [value]="mediaType" data-sem="mediaType"
                                  [attr.data-sem-qualifier]="mediaType">
                        {{ 'mediaType.' + mediaType | translate }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="field-0">
                    <mat-label>{{ 'mediaOrder' | translate }}</mat-label>
                    <input matInput name="mediaOrder" type="text" formControlName="mediaOrder" data-sem="mediaOrder" />
                  </mat-form-field>
                </div>
              </div>

              <div class="block-sub wrap">
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="alternate" data-sem="alternate"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'alternateData' | translate }}</mat-label>
                    <input matInput name="alternateData" type="text" formControlName="alternateData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="badDump" data-sem="badDump"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'badDump' | translate }}</mat-label>
                    <input matInput name="badDumpData" type="text" formControlName="badDumpData"
                           data-sem="badDumpData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="cracked" data-sem="cracked"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'cracked' | translate }}</mat-label>
                    <input matInput name="crackedData" type="text" formControlName="crackedData"
                           data-sem="crackedData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="fixed" data-sem="fixed"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'fixed' | translate }}</mat-label>
                    <input matInput name="fixedData" type="text" formControlName="fixedData" data-sem="fixedData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="modified" data-sem="modified"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'modified' | translate }}</mat-label>
                    <input matInput name="modifiedData" type="text" formControlName="modifiedData"
                           data-sem="modifiedData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="hacked" data-sem="hacked"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'hacked' | translate }}</mat-label>
                    <input matInput name="hackedData" type="text" formControlName="hackedData" data-sem="hackedData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="translated" data-sem="translated"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'translated' | translate }}</mat-label>
                    <input matInput name="translatedData" type="text" formControlName="translatedData"
                           data-sem="translatedData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="trained" data-sem="trained"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'trained' | translate }}</mat-label>
                    <input matInput name="trainedData" type="text" formControlName="trainedData"
                           data-sem="trainedData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="pirated" data-sem="pirated"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'pirated' | translate }}</mat-label>
                    <input matInput name="piratedData" type="text" formControlName="piratedData"
                           data-sem="piratedData" />
                  </mat-form-field>
                </div>
                <div class="block-sub fix">
                  <mat-checkbox class="field" formControlName="virus" data-sem="virus"></mat-checkbox>
                  <mat-form-field class="field-100">
                    <mat-label>{{ 'virus' | translate }}</mat-label>
                    <input matInput name="virus" type="text" formControlName="virusData" data-sem="virusData" />
                  </mat-form-field>
                </div>
              </div>

              <div class="block-sub responsive">
                <mat-checkbox class="field-20" formControlName="verified" data-sem="verified">
                  {{ 'verified' | translate }}
                </mat-checkbox>
                <mat-form-field class="field-80">
                  <mat-label>{{ 'tagsExtra' | translate }}</mat-label>
                  <input matInput name="tagsExtra" type="text" formControlName="tagsExtra" data-sem="tagsExtra" />
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="contentMetadataSet" class="content-metadata-set-info">
          <span>
            <small>{{ contentMetadataSet.name }}</small>
          </span>
              <span>
            <small>{{ contentMetadataSet.version }}</small>
          </span>
              <span>
            <small>{{ contentMetadataSet.category }}</small>
          </span>
            </div>
          </form>
          <app-gallery [images]="getGalleryImages()" [columns]="3"></app-gallery>
        </mat-tab>
        <mat-tab label="Items" data-sem="contentMetadataItemsDisplay_do">
          <table mat-table [dataSource]="contentMetadata?.items" class="items-container mat-elevation-z1"
                 data-sem="contentMetadataItems_container">
            <ng-container matColumnDef="contentMetadataItem">
              <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
              <td mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
                <div class="cell-multiline">
                  <h4 data-sem="name" class="field-0">{{ e.name }}</h4>
                  <div class="block wrap">
                    <div class="field">
                      <span class="label">{{ 'crc' | translate }}</span>
                      <span data-sem="crc">{{ e.crc }}</span>
                    </div>
                    <div class="field">
                      <span class="label"> {{ 'md5' | translate }}</span>
                      <span data-sem="md5">{{ e.md5 }}</span>
                    </div>
                    <divp class="field">
                      <span class="label">{{ 'sha1' | translate }}</span>
                      <span data-sem="sha1">{{ e.sha1 }}</span>
                    </divp>
                    <div class="field">
                      <span class="label">{{ 'size' | translate }}</span>
                      <span data-sem="size">{{ e.size }}</span>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
              <td data-sem="name" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
                {{ e.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="md5">
              <th mat-header-cell *matHeaderCellDef>{{ 'md5' | translate }}</th>
              <td data-sem="md5" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
                {{ e.md5 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="sha1">
              <th mat-header-cell *matHeaderCellDef>{{ 'sha1' | translate }}</th>
              <td data-sem="sha1" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
                {{ e.sha1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="crc">
              <th mat-header-cell *matHeaderCellDef>{{ 'crc' | translate }}</th>
              <td data-sem="crc" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
                {{ e.crc }}
              </td>
            </ng-container>
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef>{{ 'size' | translate }}</th>
              <td data-sem="crc" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
                {{ e.size }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td class="actions-container" mat-cell *matCellDef="let e">
                <button mat-icon-button data-sem="play_do" (click)="onPlayClicked(e)" *ngIf="isPlayable(e)">
                  <mat-icon>play_circle_filled</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" data-sem="contentMetadataItem_container"
                [attr.data-semq]="row.id"></tr>
          </table>
        </mat-tab>
      </mat-tab-group>
      <div class="fab-container" *ngIf="!busy && isPlayableMain()">
        <button data-sem="playMain_do" (click)="onPlayMainClicked()" mat-fab>
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>
