<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="contentMetadataSet_component" [attr.data-semq]="contentMetadataSet?.id" class="page">
  <app-toolbar [title]="contentMetadataSet?.name" [busy]="busy" [items]="toolbarItems"
               (action)="onToolbarAction($event)"></app-toolbar>

  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>
  <div *ngIf="isDisplayDetails()">
    <form [formGroup]="contentMetadataSetForm" #form="ngForm" (ngSubmit)="onFormSubmitted()" autocomplete="on"
          data-sem="contentMetadataSetDetails_container" class="block top">
      <input type="submit" style="display: none" #formSubmit />

      <div class="block-sub responsive">
        <mat-form-field class="field-60">
          <mat-label>{{ 'name' | translate }}</mat-label>
          <input matInput name="name" type="text" formControlName="name" data-sem="name" />
        </mat-form-field>
        <mat-form-field class="field-20">
          <mat-label>{{ 'version' | translate }}</mat-label>
          <input matInput name="version" type="text" formControlName="version" data-sem="version" />
        </mat-form-field>
        <mat-form-field class="field-20">
          <mat-label>{{ 'category' | translate }}</mat-label>
          <input matInput name="category" type="text" formControlName="category" data-sem="category" />
        </mat-form-field>
      </div>
      <div class="block-sub responsive">
        <mat-form-field class="field-0">
          <mat-label>{{ 'author' | translate }}</mat-label>
          <input matInput name="author" type="text" formControlName="author" data-sem="author" />
        </mat-form-field>
        <mat-form-field class="field-0">
          <mat-label>{{ 'email' | translate }}</mat-label>
          <input matInput name="email" type="text" formControlName="email" data-sem="email" />
        </mat-form-field>
        <mat-form-field class="field-0">
          <mat-label>{{ 'url' | translate }}</mat-label>
          <input matInput name="url" type="text" formControlName="url" data-sem="url" />
        </mat-form-field>
      </div>
      <div class="block-sub responsive">
        <mat-form-field class="field-0">
          <mat-label>{{ 'description' | translate }}</mat-label>
          <input matInput name="description" type="text" formControlName="description" data-sem="description" />
        </mat-form-field>
      </div>
      <div class="block-sub responsive">
        <mat-form-field class="field-0">
          <mat-label>{{ 'tagsExtra' | translate }}</mat-label>
          <input matInput name="tagsExtra" type="text" formControlName="tagsExtra" data-sem="tagsExtra" />
        </mat-form-field>
      </div>
      <div class="block-sub responsive">
        <mat-form-field class="field-0">
          <mat-label>{{ 'repositoryPath' | translate }}</mat-label>
          <input matInput name="repositoryPath" type="text" formControlName="repositoryPath" data-sem="repositoryPath" />
        </mat-form-field>
        <mat-form-field class="field-0">
          <mat-label>{{ 'filename' | translate }}</mat-label>
          <input matInput name="filename" type="text" formControlName="filename" data-sem="filename" />
        </mat-form-field>
        <mat-checkbox class="field-0" formControlName="staging"
                      data-sem="staging">{{ 'staging' | translate }}</mat-checkbox>
      </div>
    </form>
  </div>

  <div class="search-container">
    <mat-form-field class="field-0">
      <input #queryInput matInput placeholder="{{ 'query' | translate }}" data-sem="query" />
      <button *ngIf="queryInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="onQueryClearClicked()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator [length]="totalElements" showFirstLastButtons
                   [style.background-color]="'transparent'"></mat-paginator>
  </div>

  <div class="scroll-wrapper">
    <div class="scroll">
      <table mat-table [dataSource]="contentMetadataSummaries" class="items-container mat-elevation-z1"
             multiTemplateDataRows matSort matSortActive="title" matSortDisableClear matSortDirection="asc"
             data-sem="contentMetadatas_container">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'id' | translate }}
          </th>
          <td data-sem="id" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="name_sort">
            {{ 'name' | translate }}
          </th>
          <td data-sem="name" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="title_sort">
            {{ 'title' | translate }}
          </th>
          <td data-sem="title" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="publisher">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="publisher_sort">
            {{ 'publisher' | translate }}
          </th>
          <td data-sem="publisher" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.publisher }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="date_sort">
            {{ 'date' | translate }}
          </th>
          <td data-sem="date" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.date }}
          </td>
        </ng-container>
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="details_sort">
            {{ 'details' | translate }}
          </th>
          <td data-sem="details" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            <!--                        <p>{{ e.system }}</p>-->
            <span *ngIf="e.region" data-sem="region">{{ e.region }}</span>
            <span *ngIf="e.language" data-sem="language">({{ e.language }})</span>
            <ng-container *ngIf="e.alternate">
              |
              <span data-sem="alternate">{{ 'alternate' | translate }} </span>
              <span data-sem="alternateData">{{ e.alternateData }}</span>
            </ng-container>
            <ng-container *ngIf="e.cracked">
              |
              <span data-sem="cracked">{{ 'cracked' | translate }} </span>
              <span data-sem="crackedData">{{ e.crackedData }}</span>
            </ng-container>
            <ng-container *ngIf="e.modified">
              |
              <span data-sem="modified">{{ 'modified' | translate }} </span>
              <span data-sem="modifiedData">{{ e.modifiedData }}</span>
            </ng-container>
            <ng-container *ngIf="e.hacked">
              |
              <span data-sem="hacked">{{ 'hacked' | translate }} </span>
              <span data-sem="hackedData">{{ e.hackedData }}</span>
            </ng-container>
            <ng-container *ngIf="e.translated">
              |
              <span data-sem="translated">{{ 'translated' | translate }} </span>
              <span data-sem="translatedData">{{ e.translatedData }}</span>
            </ng-container>
            <ng-container *ngIf="e.badDump">
              |
              <span data-sem="badDump">{{ 'badDump' | translate }} </span>
              <span data-sem="badDumpData">{{ e.badDumpData }}</span>
            </ng-container>
            <ng-container *ngIf="e.tagsExtra">
              |
              <span data-sem="tagsExtra">{{ e.tagsExtra }}</span>
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="media">
          <th mat-header-cell *matHeaderCellDef mat-sort-header data-sem="media_sort">
            {{ 'media' | translate }}
          </th>
          <td data-sem="media" mat-cell *matCellDef="let e"
              (click)="onCellClicked(e, $event)">{{ 'mediaType.' + e.mediaType | translate }}&nbsp;{{ e.mediaOrder }}</td>
        </ng-container>

        <ng-container matColumnDef="contentMetadata">
          <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
          <td mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            <div class="cell-multiline">
              <h4 class="block-sub">
                <span class="field-80" data-sem="title">{{ e.title }}</span>
                <span class="field-20" data-sem="system">{{ e.system }}</span>
              </h4>
              <div class="block wrap">
                <div *ngIf="e.publisher" class="field">
                  <span data-sem="publisher">{{ e.publisher }}</span>
                </div>
                <div *ngIf="e.date" class="field">
                  (<span data-sem="date">{{ e.date }}</span
                >)
                </div>
                <div *ngIf="e.region" class="field">
                  (<span data-sem="region">{{ e.region }}</span
                >)
                </div>
                <div *ngIf="e.language" class="field">
                  (<span data-sem="language">{{ e.language }}</span
                >)
                </div>
                <div *ngIf="e.mediaType" class="field">
                  <span class="field" data-sem="mediaType">{{ 'mediaType.' + e.mediaType | translate }}</span>
                  <span class="field" data-sem="mediaOrder">{{ e.mediaOrder }}</span>
                </div>
                <div *ngIf="e.description">
                  <span class="field" data-sem="description">{{ e.description }}</span>
                </div>
                <div data-sem="details" class="field">
                  <span *ngIf="e.region" class="field" data-sem="region">{{ e.region }}</span>
                  <span *ngIf="e.language" class="field" data-sem="language">({{ e.language }})</span>
                  <ng-container *ngIf="e.alternate">
                    |
                    <span class="field" data-sem="alternate">{{ 'alternate' | translate }} </span>
                    <span class="field" data-sem="alternateData">{{ e.alternateData }}</span>
                  </ng-container>
                  <ng-container *ngIf="e.cracked">
                    |
                    <span class="field" data-sem="cracked">{{ 'cracked' | translate }} </span>
                    <span class="field" data-sem="crackedData">{{ e.crackedData }}</span>
                  </ng-container>
                  <ng-container *ngIf="e.modified">
                    |
                    <span class="field" data-sem="modified">{{ 'modified' | translate }} </span>
                    <span class="field" data-sem="modifiedData">{{ e.modifiedData }}</span>
                  </ng-container>
                  <ng-container *ngIf="e.hacked">
                    |
                    <span class="field" data-sem="hacked">{{ 'hacked' | translate }} </span>
                    <span class="field" data-sem="hackedData">{{ e.hackedData }}</span>
                  </ng-container>
                  <ng-container *ngIf="e.translated">
                    |
                    <span class="field" data-sem="translated">{{ 'translated' | translate }} </span>
                    <span class="field" data-sem="translatedData">{{ e.translatedData }}</span>
                  </ng-container>
                  <ng-container *ngIf="e.badDump">
                    |
                    <span class="field" data-sem="badDump">{{ 'badDump' | translate }} </span>
                    <span class="field" data-sem="badDumpData">{{ e.badDumpData }}</span>
                  </ng-container>
                  <ng-container *ngIf="e.tagsExtra">
                    |
                    <span class="field" data-sem="tagsExtra">{{ e.tagsExtra }}</span>
                  </ng-container>
                </div>
                <div class="field" data-sem="source">{{ e.source }}</div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let e; columns: displayedColumns" data-sem="contentMetadata_container"
            [attr.data-semq]="e.id"></tr>
      </table>
    </div>
  </div>
</div>
