<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="contents_component" class="page">
  <app-toolbar [title]="'contentVolumes'" [busy]="isBusy()" [items]="toolbarItems"
               (action)="onToolbarAction($event)"></app-toolbar>
  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>
  <div class="scroll-wrapper">
    <div class="scroll">
      <table mat-table [dataSource]="contentVolumes" class="items-container mat-elevation-z1"
             data-sem="contents_container">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>{{ 'id' | translate }}</th>
          <td data-sem="id" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
          <td data-sem="name" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="path">
          <th mat-header-cell *matHeaderCellDef>{{ 'path' | translate }}</th>
          <td data-sem="path" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.path }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="actions-container" mat-cell *matCellDef="let e">
            <button mat-icon-button data-sem="scan_do" (click)="onRowContentVolumeScanClicked(e)"
                    *ngIf="isContentVolumeScanEnabled(e)">
              <mat-icon>autorenew</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="contentVolumeDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: contentVolumeDisplayedColumns" data-sem="contentVolume_container"
            [attr.data-semq]="row.id"></tr>
      </table>
    </div>
  </div>
</div>
