<!--
  #%L
  retromaster-client-web
  %%
  Copyright (C) 2021 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<div data-sem="contentExecutors_component" class="page">
  <app-toolbar [title]="'contentExecutors'" [busy]="isBusy()" [items]="toolbarItems" (action)="onToolbarAction($event)"></app-toolbar>

  <mat-card appearance="outlined" *ngIf="error" data-sem="errorGeneral">{{ error | translate }}</mat-card>

  <div class="scroll-wrapper">
    <div class="scroll">
      <table mat-table [dataSource]="contentExecutors" class="items-container mat-elevation-z1" data-sem="contents_container">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>{{ 'id' | translate }}</th>
          <td data-sem="id" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'name' | translate }}</th>
          <td data-sem="name" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            {{ e.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="systems">
          <th mat-header-cell *matHeaderCellDef>{{ 'systems' | translate }}</th>
          <td data-sem="systems" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)" class="gap-16">
            <span *ngFor="let s of e.systems">{{ s.name }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="found">
          <th mat-header-cell *matHeaderCellDef>{{ 'found' | translate }}</th>
          <td data-sem="found" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            <mat-checkbox [checked]="e.found"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef>{{ 'enabled' | translate }}</th>
          <td data-sem="enabled" mat-cell *matCellDef="let e" (click)="onCellClicked(e, $event)">
            <mat-checkbox [checked]="e.enabled"></mat-checkbox>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" data-sem="contentExecutor_container" [attr.data-semq]="row.id"></tr>
      </table>
    </div>
  </div>
</div>
